{
  "openapi": "3.1.1",
  "info": {
    "title": "Strategy Analytics API",
    "description": "Modular Monolith API for Strategy Analytics, trazendo serviços de Clientes, Transações, Contratos e mais. [Build: 1.0.0-rc.1]",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://strategyanalytics.codebiz.com.br",
      "description": "Default Server"
    }
  ],
  "paths": {
    "/info": {
      "get": {
        "tags": ["Meta"],
        "operationId": "GetApiInfo",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "RefreshAccessToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "Logout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLogoutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "operationId": "GetCurrentUser",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/admin/auth/ping": {
      "get": {
        "tags": ["Authentication"],
        "operationId": "AdminAuthPing",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/client/auth/ping": {
      "get": {
        "tags": ["Authentication"],
        "operationId": "ClientAuthPing",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/admin/users": {
      "post": {
        "tags": ["Users"],
        "operationId": "CreateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      },
      "get": {
        "tags": ["Users"],
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": ["integer", "string"],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": ["integer", "string"],
              "format": "int32"
            }
          },
          {
            "name": "workspaceId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfUserResponse"
                }
              }
            }
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/admin/users/{id}": {
      "get": {
        "tags": ["Users"],
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      },
      "patch": {
        "tags": ["Users"],
        "operationId": "UpdateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/admin/users/{id}/status": {
      "patch": {
        "tags": ["Users"],
        "operationId": "ChangeUserStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeUserStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/admin/users/{id}/roles": {
      "patch": {
        "tags": ["Users"],
        "operationId": "ChangeUserRoles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeUserRolesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": ["Users"],
        "operationId": "GetAuthenticatedUserProfile",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/users/me/profile": {
      "patch": {
        "tags": ["Users"],
        "operationId": "UpdateAuthenticatedUserProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCurrentProfileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    },
    "/api/v1/users/me/password": {
      "patch": {
        "tags": ["Users"],
        "operationId": "ChangeAuthenticatedUserPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeCurrentPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [{}]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiErrorItem": {
        "required": ["code", "message"],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "field": {
            "type": ["null", "string"]
          }
        }
      },
      "AuthLoginRequest": {
        "required": ["email", "password"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthLogoutRequest": {
        "required": ["refreshToken"],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "AuthRefreshRequest": {
        "required": ["refreshToken"],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "ChangeCurrentPasswordRequest": {
        "required": ["currentPassword", "newPassword"],
        "type": "object",
        "properties": {
          "currentPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          }
        }
      },
      "ChangeUserRolesRequest": {
        "required": ["roles"],
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChangeUserStatusRequest": {
        "required": ["status"],
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        }
      },
      "CreateUserRequest": {
        "required": [
          "name",
          "email",
          "password",
          "status",
          "workspaceId",
          "roles"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "workspaceId": {
            "type": ["null", "string"],
            "format": "uuid"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PagedResponseOfUserResponse": {
        "type": "object",
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/PaginationMetadata"
          },
          "data": {
            "type": ["null", "array"],
            "items": {
              "$ref": "#/components/schemas/UserResponse"
            }
          },
          "success": {
            "type": "boolean"
          },
          "requestId": {
            "type": "string"
          },
          "correlationId": {
            "type": ["null", "string"]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiErrorItem"
            }
          }
        }
      },
      "PaginationMetadata": {
        "required": [
          "page",
          "pageSize",
          "totalItems",
          "totalPages",
          "hasNextPage",
          "hasPreviousPage"
        ],
        "type": "object",
        "properties": {
          "page": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": ["integer", "string"],
            "format": "int32"
          },
          "pageSize": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": ["integer", "string"],
            "format": "int32"
          },
          "totalItems": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": ["integer", "string"],
            "format": "int32"
          },
          "totalPages": {
            "pattern": "^-?(?:0|[1-9]\\d*)$",
            "type": ["integer", "string"],
            "format": "int32"
          },
          "hasNextPage": {
            "type": "boolean"
          },
          "hasPreviousPage": {
            "type": "boolean"
          }
        }
      },
      "UpdateCurrentProfileRequest": {
        "required": ["name", "email"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "UpdateUserRequest": {
        "required": ["name", "email", "workspaceId"],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "workspaceId": {
            "type": ["null", "string"],
            "format": "uuid"
          }
        }
      },
      "UserResponse": {
        "required": [
          "id",
          "name",
          "email",
          "status",
          "workspaceId",
          "workspaceIds",
          "roles",
          "createdAtUtc",
          "updatedAtUtc",
          "lastLoginAtUtc"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "workspaceId": {
            "type": ["null", "string"],
            "format": "uuid"
          },
          "workspaceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAtUtc": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAtUtc": {
            "type": ["null", "string"],
            "format": "date-time"
          },
          "lastLoginAtUtc": {
            "type": ["null", "string"],
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Enter your JWT token",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    {
      "name": "Meta"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Users"
    }
  ]
}
